@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-secondary" style="margin-top:10%;">

    <b style="font-size:600%;">GP<span style="  color:	#FF4500 ">M</span>S</b>
    <h6 class="text-xxl"><b> GATE-PASS <span style="  color:	#FF4500 ">MANAGEMENT</span> SYSTEM </b></h6>
   
</div>

<style>
    
</style>
